.header {
  width: 100vw;
  padding: 8px;
  font-size: 13px;
  background-color: white;
}
.headerInner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
.logo {
  cursor: pointer;
}
.searchBar {
  padding: 0 10px;
  width: 550px;
  margin-top: 0px;
}

.login {
  width: 58px;
  padding: 8px 5px 5px 5px;
  position: relative;
  cursor: pointer;
}
.login::after {
  content: "\2303";
  position: absolute;
  right: 18px;
  top: 4px;
  transform: rotate(180deg);
  transition: all 0.1s;
}
.cart {
  width: 70px;
  padding: 7px 5px 5px 5px;
  cursor: pointer;
}
.input {
  border: solid 1px #e6e6e6;
  padding: 7px 25px 7px 15px;
  width: 400px;
  border-radius: 20px;
  font-size: 12px;
  outline: none;
}
.searchico {
  position: absolute;
  right: 6px;
  top: -3.5px;
}
.searchico img {
  width: 25px;
  height: auto;
}
.container {
  padding: 0 2rem;
}

.dropbtn::after {
  content: "\2303";
  position: absolute;
  right: -13px;
  top: -1px;
  transform: rotate(180deg);
  transition: all 0.1s;
}
/* .dropbtn:hover::after {
  transform: rotate(0deg);
  top: 3px;
} */
