.bookSliderBook {
  width: 130px;
  height: 100%;
  margin-right: 20px;
  cursor: pointer;
}
.bookSliderBook img {
  width: 100%;
  height: 200px;
}
.prv {
  position: absolute;
  top: 30%;
  left: 1px;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.815);
  border-radius: 20px;
  cursor: pointer;
  padding-top: 3px;
  transform: rotate(-90deg);
  box-shadow: 1px 1px 4px 1px #5a5a5a;
}
.nxt {
  position: absolute;
  top: 30%;
  right: 1px;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.815);
  border-radius: 20px;
  padding-top: 2px;
  cursor: pointer;
  overflow: hidden;
  transform: rotate(90deg);
  box-shadow: 1px 1px 4px 1px #5a5a5a;
}
.nxt::before {
  content: "\2303";
  margin-left: 8px;
  font-size: 30px;
}

.prv::before {
  content: "\2303";
  margin-left: 8px;
  font-size: 30px;
}
