.section {
  display: flex;
}
.sliderSnippet {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: right;
}
.sliderBookSnippet {
  width: 180px;
  height: 250px;
}
.sliderBookSnippet img {
  width: 100%;
  height: 100%;
}
.sliderBookPreview {
  flex: 3;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 35px;
  padding-left: 8%;
}
.sliderBookPreview button {
  background: white;
  width: 200px;
  border-radius: 30px;
  padding: 2px 0;
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
}
